* {
    margin: 0;
    padding: 0;
}

.wrap {
    background: #ccc;
    width: 75%;
    max-width: 1000px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;

}

body {
    background:#e9e9e9;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    padding: 20px;
    background-image: url(../img/cropped-soccer-banner.jpg);

    display: flex;
}

.logo {
    width: 20%;
}

.logo img {
    width: 150px;
    padding-right: 20px;
}

header a {
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    line-height: 150px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* vertical-align: center; */
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #023304;
}

nav a {
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    padding-left: 20px;
}

nav a:hover {
    background-color: #434343f5;
    transition: 0.5s;
}

.main {
    background: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.h2 {
    text-align: center;
    background:#adadad;
    padding: 5px 0px;
}

section article {
    padding: 15px;
    line-height: 2;
    text-align: justify;
}

h3 {
    padding: 20px 0px 15px 0px;
}

article p {
    padding-left: 20px;
    padding-right: 20px;
}

.rulesHeading {
    text-align: center;
}

.rulesHeading p {
    margin-top: 30px;
}

ul, ol {
    padding-left: 50px;
    padding-right: 50px;
}

table {
    text-align: left;
    padding: 25px 0px;
    border-spacing: 0;
}

th {
    width: 100px;
    padding: 10px 0px;
    background-color: #4CAF50;
}

td {
    padding: 5px 0px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: rgba(76, 175, 79, 0.493);}

.alignCenter {
    text-align: center;
}

.gameParagraphs p {
    padding: 25px 0px 25px 0px;
}

.inline {
    display: flex;
    justify-content: space-between;
}

.divisionLine {
    width: 80%;
    margin-top: 20px;
    align-self: center;
    height: 10px;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.imgLarge {
    display: block;
    margin: auto;
    padding-top: 20px;
}

.imgSmall {
    display: inline-block;
    margin: auto;
    padding: 30px 30px;
}

.contact {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.contactText {
    padding-top: 35px;
}

.gif {
    width: 175px;
    padding-left: 100px;
}

ul.circle {
    list-style-type: circle;
}
  
ul.square {
    list-style-type: square;
}
  
ol.alpha {
    list-style-type: lower-alpha;
}

.formContainer {
    padding: 20px;
}

form div {
    padding-bottom: 10px;
}

.formLine {
    display: flex;
    flex: 1 1 auto;
    /* justify-content: space-between; */
    /* margin: 0; */
}

.formLine p, label {
    flex: none;
    /* display: block; */
    padding: 0px 10px;
    /* font-weight: bold; */
    /* width: 100%; */
}

.formLine input {
    width: 100%;
    /* flex: none; */
    /* padding-right: 10px; */

}

.grade input {
    margin-left: 40px;
    align-self: center;
}

.formBlock {
    width: 49%;
}

.blockSeparation {
    justify-content: space-between;
}

.firstClosestSchool1 {
    display: flex;
    /* align-items: center; */
    padding: 15px 0px 0px 0px;
}

.firstClosestSchool2 {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: space-evenly;
}

.firstClosestSchool3 {
    display: flex;
}

.firstClosestSchool3 input {
    order: 1;
    width: 30%;
    margin-left: 10px;
    align-self: center;
}

.firstClosestSchool3 label {
    order: 2;
    width: 70%;

}

fieldset {
    background-color: #4CAF50;
    width: 100%;
}

legend {
    margin-left: 10px;
    padding: 5px;
    background-color: #083e0a;
    color: #e9e9e9;
}

.haveUniform input {
    width: 5%;
    margin-left: 10px;
}

.haveUniform {
    padding-top: 10px;
}

.permissionText p {
    padding: 10px 0px;
    text-align: justify;
}

.permissionText p {
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    background-color: #083e0a;
    width: 100%;
    padding: 20px;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
}

footer a {
    color: #fff;
    padding: 10px;
    background-color: #b63d06;
}

.social {
    width: 15%;
}

.active {
    background-color: #00b806;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.width {
    width: 50%;
}

.marginBottom {
    margin-bottom: 10px;
}

.paddingTop {
    padding-top: 10px;
}

.paddingTop50 {
    padding-top: 50px;
}

.paddingLeft10 {
    padding-left: 10px;
}

#submit {
    padding: 20px 40px;
    border: 2px solid gray;
    border-radius: 50%;
    background-color: #00b806;
    cursor: pointer;
    /* align-self: center; */
    margin: auto;
    font-size: 25px;
}

#submit:hover {background-color: #00ff08}

#reset {
    padding: 20px 40px;
    border: 2px solid gray;
    border-radius: 50%;
    background-color: rgb(155, 0, 0);
    cursor: pointer;
    /* align-self: center; */
    margin: auto;
    font-size: 25px;
}

#reset:hover {background-color: #ff0808}

#topButton {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px; 
}

.fa-arrow-circle-up {
    font-size: 30px;
}

.gender {
    align-self: center;
    /* padding-right: 15px; */
    padding-left: 0px;
}

#female {
    width: 10%;
    align-self: center;
    /* margin-left: 50px; */
}

#male {
    width: 10%;
    align-self: center;

}

.formTable {
    width: 50%;
    align-content: center;
    margin: auto;
    padding-bottom: 30px;
    border: 1px solid gray;
}

.formTable th, .formTable td {
    text-align: center;
    border: 1px solid gray;
}

.gameLocationTable th, .gameLocationTable td {
    border: 1px solid gray;
}